@import '../../../styles/variables';

.ItemCard__content {
  color: #323232;
  padding: 10px 15px 0px 5px !important;
}

.ItemCard__text {
  font-family: $primaryFont !important;
}

.ItemCard__link:hover {
  text-decoration: none !important;
}

.ItemCard__container {
  outline: none !important;
}
