@import '../../../styles/variables';

.account-icon {
  font-size: 1.6em !important;
}

.menu-container {
  .MuiList-padding {
    padding-bottom: 0 !important;
  }
}

.menu-link {
  color: $textColor !important;
}

.menu-link:hover {
  color: $textColor !important;
  text-decoration: none;
}

.my-stuff {
  padding-bottom: 10px !important;
}

.logout-button {
  background: #f44336 !important;
  color: #fff !important;

  padding-bottom: 10px !important;
}

.logout-button:hover {
  background: #d32f2f !important;
}

.Auth__page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;

  h1 {
    text-align: center;
    border: 4px solid $textColor;
    border-radius: .2em;

    padding: 10px 20px;
  }
}

.Auth__arrow-icon {
  font-size: 1.5em !important;
}
