@import '../../../styles/variables';

.Stuff {
  margin: 30px;
}

.mat-button {
  outline: none !important;
}

.stuff-links {
  color: #fff !important;

  margin: 15px 0px !important;
}

.stuff-links:hover {
  color: #fff !important;
  text-decoration: none !important;
}
