@import '../../../styles/variables';

.SingleItem__root {
  max-width: 600px;
}

.SingleItem__media {
  height: 400px;
}

.SingleItem__description {
  font-size: 1.2em;
  color: $textColor;
}

.SingleItem__link {
  margin: 0;
}

.SingleItem__link:hover {
  text-decoration: none !important;
}

.SingleItem__link-container {
  display: flex;
  justify-content: space-between;
}

.SingleItem__delete-icon {
  align-self: flex-end;
  color: #c92828 !important;
  font-size: 2.5em !important;
  padding: 4px;
}

.SingleItem__delete-icon:hover {
  color: #a32121 !important;
  text-decoration: none !important;
  cursor: pointer;
}
